
<div id="footer">

  <div class="contactContainer ">

    <div class="mb-4 contactParent">


      <div class="row d-flex justify-content-center">

        <div class="col-md-8 mb-md-0 mb-5 fieldParent justify-content-center ">

          <h2 class="h1-responsive font-weight-bold text-center my-4 justify-content-center">Contacteer ons</h2>
          <form class="justify-content-center" id="contact-form" name="contact-form">

            <div class="row justify-content-center">

              <div class="col-md-12">
                <div class="md-form mb-0 formFieldContainer">
                  <input placeholder="Naam" type="text" id="naam" name="naam" class="form-control">
                </div>
              </div>

              <div class="col-md-12">
                <div class="md-form mb-0 formFieldContainer">
                  <input placeholder="Bedrijfsnaam" type="text" id="bedrijf" name="bedrijf" class="form-control">
                </div>
              </div>

              <div class="col-md-12">
                <div class="md-form mb-0 formFieldContainer">
                  <input placeholder="Email" type="text" id="email" name="email" class="form-control">
                </div>
              </div>

              <div class="col-md-12">
                <div class="md-form mb-0 formFieldContainer">
                  <input placeholder="Telefoonnummer" type="number"
                         id="telefoon" name="telefoon" class="form-control">
                </div>
              </div>


            </div>


            <div class="row">


              <div class="col-md-12">

                <div class="md-form formFieldContainer">
                  <textarea placeholder="Bericht"
                            type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                </div>

              </div>
            </div>

            <div class="text-center text-md-left">
              <!--          <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Send</a>-->
              <button (click)="preventFormSend($event)" class="contactButton">Verzend</button>
            </div>
            <div class="status"></div>

          </form>

        </div>

        <div class="col-md-4  text-start iconListContainer">
          <ul class="list-unstyled mb-0 iconUl">
            <li class="iconContainer">
              <i class="fas fa-map-marker-alt fa-2x formIcon"></i>
              <span class="formIconSpan">San Francisco, CA 94126, USA</span>
            </li>

            <li class="iconContainer">
              <i class="fas fa-phone  fa-2x"></i>
              <span class="formIconSpan">+ 01 234 567 89</span>
            </li>

            <li class="iconContainer">
              <i class="fas fa-envelope  fa-2x"></i>
              <span class="formIconSpan">contact@mdbootstrap.com</span>
            </li>
          </ul>
        </div>


      </div>

    </div>
  </div>

  <div class="footerGolfContainer row g-0">
    <i class="logo"><img src="assets/img/logoWIT.png"></i>
    <div class="footerGolf">
      <div>
        <span>Copyright</span>
        <span>	&copy;</span>
        <span>|</span>
        <span>Alle rechten voorbehouden</span>
        <span class="mid">|</span>
        <br>
        <span>Cookiebeleid</span>
        <span>|</span>
        <span>Privacybeleid</span>
        <span>|</span>
        <span>site: <a>krachtigonline.be</a></span>
      </div>
    </div>
  </div>




</div>
