<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 ">
        <h4 class="footerHeader">
          <img src="assets/img/rsz_11rsz_logowit.png"/>
          <span>4Nature</span>
        </h4>
        <div class="row">
          <div class="col-12">
            <div class="links text-start" id="bordering">
              <a href="tel:+32494903650" class="btn rounded text-white p-3 text-start col-12">
                <i class="fa fa-phone icon  pr-3"></i>
                <span>0494 90 36 50</span>
              </a>
              <a href="mailto:kevin@4nature.be" class="btn rounded text-white p-3 text-start col-12">
                <i class="fa fa-envelope icon  pr-3"></i>
                <span>kevin@4nature.be</span>
              </a>
              <a  href="https://www.google.be/maps/place/Sint-Paulusstraat+53,+2400+Mol/@51.1886815,5.1093396,17z/data=!3m1!4b1!4m5!3m4!1s0x47c135a60b4c7a11:0x854380830144c95c!8m2!3d51.1886782!4d5.1115283"
                  target="_blank"
                  class="btn rounded text-white p-3 text-start col-12">
                <i class="fa fa-map-marker icon pr-3"></i>
                <span>Sint Paulusstraat  53  </span>
                <br/>
                <i class="fa fa-map-marker icon pr-3 noIcon"></i>
                <span>2400 Mol,  België</span>
              </a>

            </div>

          </div>
        </div>
        <br>
      </div>

      <div class="col-md-8 contactFormFooter">
          <h2 class="form-header">Contacteer ons</h2>

          <form class="" (ngSubmit)="onSubmit(contactFormFooter)" #contactFormFooter="ngForm" >
            <fieldset class="form-group">
              <input class="form-control" type="text" name="name" ngModel required #name="ngModel" id="inputNaam" placeholder="Naam" >
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control" type="text" name="company" ngModel #company="ngModel"  id="inputBedrijf" placeholder="Bedrijf" >
            </fieldset>
            <fieldset class="form-group">
              <input class="form-control" type="email" name="email" ngModel required #email="ngModel" id="inputMail" placeholder="email" >
            </fieldset>
            <fieldset class="form-group">
              <input  class="form-control" type="tel" name="phone" ngModel #phone="ngModel" id="inputTelefoon" placeholder="telefoon" >
            </fieldset>
            <fieldset class="form-group">
              <textarea class="form-control" rows="5" name="message" ngModel #message="ngModel" id="inputBoodschap" placeholder="Boodschap" ></textarea>
            </fieldset>
            <fieldset class="form-group text-xs-right ">
              <button type="submit"  class="btn text-light bedrijfBtn">Verstuur</button>
            </fieldset>
          </form>
      </div>

      <div class="col-md-8 navigatieFooter">
        <h2 class="form-header">Kijk even verder</h2>
        <div class="row">
          <div class="col-6">
            <div class="links text-start" id="bordering2">
              <a routerLink="/" class="btn rounded text-white p-3 text-start col-12">
                <span>Home</span>
              </a>
              <a routerLink="/beheer-mee" class="btn rounded text-white p-3 text-start col-12">
                <span>Beheer mee</span>
              </a>
              <a routerLink="/hoe" class="btn rounded text-white p-3 text-start col-12">
                <span>Hoe?</span>
              </a>
              <a routerLink="/bedrijven" class="btn rounded text-white p-3 text-start col-12">
                <span>Bedrijven</span>
              </a>
            </div>
          </div>

          <div class="col-6">
            <div class="links text-start" id="bordering3">
              <a routerLink="/newsfeed" class="btn rounded text-white p-3 text-start col-12">
                <span>Onze realisaties</span>
              </a>
              <a routerLink="/partners" class="btn rounded text-white p-3 text-start col-12">
                <span>Partners</span>
              </a>
              <a routerLink="/over-ons" class="btn rounded text-white p-3 text-start col-12">
                <span>Over Ons</span>
              </a>
            </div>
          </div>



        </div>
      </div>


    </div>
    <p class="copyright">© COPYRIGHT 2022, 4Nature
      | Alle rechten voorbehouden
      | <a (click)="toCookie()">Cookiebeleid</a>
      | <a  (click)="toPrivacy()">Privacybeleid</a>
      | <a href="https://krachtigonline.be/" target="_blank">site: krachtigonline.be</a> </p>

  </div>
</footer>

