<!--</div>-->
<img class="background-image" src="assets/img/bannerOverig.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature platform</h1>
</div>

<main class="content">


  <div class="block1Overons">
    <div class="row g-0">
      <div class="col-lg-6 my-auto tekstContainerLinks1">
        <div class="tekstKolomLinksCards pe-5">

          <div class="row contactRow">

            <div class="col-sm-6">

              <div class="card text-center">
                <img class="card-img-top profielFoto" src="../../assets/img/kevin.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title naamHeaderKaart">Kevin Vleminx</h4>
                  <p class="telefoonNummer">
                    0494 90 36 50
                  </p>
                  <p class="telefoonNummer">
                    kevin@4nature.be
                  </p>
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col">
                      <a class="linkKnop" href="mailto:kevin@4nature.be"><i class="fas fa-envelope"></i></a>
                    </div>
                    <div class="col">
                      <a class="linkKnop"  href="tel:+32494903650"><i class="fas fa-phone"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">

              <div class="card text-center">
                <img class="card-img-top profielFoto" src="../../assets/img/jeroen.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title naamHeaderKaart">Jeroen De Muynck</h4>
                  <p class="telefoonNummer">
                    0472 32 01 55
                  </p>
                  <p class="telefoonNummer">
                    Jeroen@4nature.be
                  </p>
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col">
                      <a class="linkKnop" href="mailto:Jeroen@4nature.be"><i class="fas fa-envelope"></i></a>
                    </div>
                    <div class="col">
                      <a class="linkKnop" href="tel:+32472320155"><i class="fas fa-phone"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1 ">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Over ons.
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            Hallo wij zijn Kevin Vleminx en Jeroen De Muynck, twee dynamische Kempenzonen met een passie voor natuur.
          </h4>
          <p class="section-para-rechts1">
            We hebben in maart 2020 onze krachten gebundeld en een bedrijf opgericht met als merknaam Beer 4 Nature.
            Dit was een enorm succes, zo succesvol zelfs dat we verder willen gaan.
            Daarom hebben we 4nature gemaakt om onze stempel nog meer te drukken
            en om de toekomst van onze kinderen te verzekeren.
            <br>
            <br>
            We hopen dat jij deel wilt uitmaken van onze droom en passie
          </p>

          <div class="d-flex align-items-center pt-4">
            <a href="" class="btn text-light bedrijfBtn">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
