:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}
.content{
  margin-top: -10vw;
}


.contactRow{
  margin-top: 4vw;
}



.card{
  background-color: #FFFFFF;
  padding:0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius:4px;
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}


.card:hover{
  transform: scale(0.95);
  transition: 300ms;
}

.card-body{
  background-color: #F6FFF4;

}

.card-footer{
  background-color: var(--primaryBlue);
  margin-bottom: -1vw;
}

.linkKnop
{
  color: white;
}

.tekstKolomLinksCards{
  margin-right: 2vw;
  margin-left: 7vw;
  padding-bottom: 3vw;
}

@media screen and (max-width: 1100px){
  .treeImageTitle2{
    margin-top: 3.2vw !important;
  }
}

@media screen and (max-width: 600px){
  .treeImageTitle2{
    margin-top: 0!important;
  }

  /*kaarjes*/

  .bedrijfBtn{
    margin-right: 15vw !important;
  }
}
