<!--</div>-->
<img class="background-image" src="assets/img/bannerOverig.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature platform</h1>
</div>

<main class="content">


  <div class="block1Overons">
    <div class="row g-0">
      <div class="col-lg-6 my-auto tekstContainerLinks1">
        <div class="tekstKolomLinksCards pe-5">
          <img class="treeImageTitle" src="assets/img/singleIconTreeBlue.png">
          <div class="row">
            <div class="col-sm-6 callToActionblok4Home">
              <div class="callToActionblok4HomeCol">
                <div class="row d-flex ">
                  <!-- Grid column -->
                  <div class="col-md-4 mb-4 colCard">
                    <div class="avatar mx-auto">
                      <img src="assets/img/jeroen.jpg" class="rounded z-depth-1-half" alt="Sample avatar">
                    </div>
                    <h4 class="font-weight-bold dark-grey-text my-4">Jeroen De Muynck</h4>
                    <!-- Email-->
                    <a type="button" class="btn-floating btn-lg mx-1 mb-0 btn-email icon-cog "
                       href="mailto:Jeroen@4nature.be">
                      <i class="fas fa-envelope "></i>
                    </a>

                  </div>
                </div>

              </div>
            </div>
            <div class="col-sm-6 callToActionblok4Home">
              <div class="callToActionblok4HomeCol">
                <div class="col-md-4 mb-4 colCard">
                  <div class="avatar mx-auto">
                    <img src="assets/img/kevin.jpg" class="rounded z-depth-1-half" alt="Sample avatar">
                  </div>
                  <h4 class="font-weight-bold dark-grey-text my-4">Kevin Vleminx</h4>
                  <!--          <h6 class="text-uppercase grey-text mb-3"><strong>Web Developer</strong></h6>-->

                  <!-- Twitter -->
                  <a type="button" class="btn-floating btn-lg mx-1 mb-0 btn-email icon-cog"
                     href="mailto:kevin@4nature.be">
                    <i class="fas fa-envelope"></i>
                  </a>

                </div>
                <!-- Grid column -->


              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1 ">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle" src="assets/img/singleIconTreeBlue.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Over ons.
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            We hebben in maart 2020 onze krachten gebundeld en een bedrijf opgericht met als merknaam Beer 4 Nature.
            Dit was een enorm succes, zo succesvol zelfs dat we verder willen gaan.
            Daarom hebben we 4nature gemaakt om onze stempel nog meer te drukken.
          </h4>

          <div class="d-flex align-items-center pt-4">
            <a href="" class="btn text-light bedrijfBtn">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>


</main>
