.content{
  margin-top: -10vw;
}

.treeImageTitle{
  margin-top: -0.7vw !important;
}

.contactRow{
  margin-left: 5vw;
}

.contactFormTitle{
  padding: 0 5vw 1vw 3vw;
}

.contactForm{
  padding: 7vw 5vw 2vw 1vw;

}

.contactContainer{
  background-color: #E8FFE3;
  padding: 3vw;
  border-radius: 20px;
}

.tekstKolomRechts1{
  padding: 13vw 10vw 2vw 1vw;
}

.section-title-rechts1{
  font-size: 2.5vw;
}

/*footer*/

:host ::ng-deep .contactFormFooter {
  display: none !important;
}

:host ::ng-deep .navigatieFooter {
  display: initial !important;
}


@media screen and (max-width: 1100px){
  .treeImageTitle{
    margin-top: 6vw !important;
  }
}

@media screen and (max-width: 991px){
 .contactRow{
   display: flex;
   flex-direction: column;
 }

 .contactForm{
   order: 2;
 }

 .vragenContainer{
   order:1;
 }

  .treeImageTitle{
    margin-top: 2vw !important;
  }
}

@media screen and (max-width: 600px){
  .treeImageTitle{
    margin-top: 4vw !important;
  }

  .contactFormTitle{
    margin-left: 5vw;
  }

  .contactContainer{
    margin-bottom: 10vw;
  }
}

@media screen and (max-width: 330px){
  .treeImageTitle{
    margin-top: 5vw !important;
  }
}
