<img class="background-image" src="assets/img/bannerRealisaties.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">Onze realisaties en nieuwigheden</h1>
</div>

<div class="content">

  <div class="blok1Realisaties">
    <div class="row ">
      <div class="col-lg-7 my-auto fotoLinksTekstRechts1">
        <div class="d-flex flex-column align-items-center justify-content-center fotoLinks1 rounded h-100 py-5 px-3">
        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Wij zijn ambitieus
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            Desondanks dit project nog zeer jong is, hebben we al meer dan 18 Hectare bos onder onze bescherming
          </h4>
          <p class="section-para-rechts1">
            Op korte termijn is het de doelstelling om 50 Hectare bos onder onze bescherming te hebben.
            OP lange terrmijn is het de doelstelling van
            de creatie van een duurzaam oneindig economisch model waarin natuur beschermd
            en beheerd wordt in België met uitbreidingsmogelijkheden naar andere landen.
            <br>
            <br>
            Help jij ons nu mee om deze doelstellingen te halen?
          </p>
          <div class="d-flex align-items-center pt-4">
            <a href="" class="btn text-light bedrijfBtn">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="blok2Realisaties">
    <h2>Onze realistaies</h2>
    <div class="containerm">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="img">
            <h2 class="achievementHeader">Tessenderlo perceel 1 - 7,99 Ha</h2>
            <img src="../../assets/img/achievement1.jpg" alt="">
            <p class="achievementPara">Dit is tot nu toe onze grootste perceel.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <h2 class="achievementHeader">Tessenderlo perceel 2 - 0.86 Ha</h2>
            <img src="../../assets/img/achievement2.jpg" alt="">
            <p class="achievementPara">In Tessenderlo hebben we nog een bijkomend perceel aangekocht.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <h2 class="achievementHeader">Ham - <br> 0.25 Ha</h2>
            <img src="../../assets/img/achievement3.jpg" alt="">
            <p class="achievementPara">Het eerste bos dat we in Ham hebben gekocht.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="containerm">
      <div class="row g-0">
        <div class="col-md-4">
          <div class="img">
            <h2 class="achievementHeader">Hechtel Eksel - <br> 5.56 Ha</h2>
            <img src="../../assets/img/achievement4.jpg" alt="">
            <p class="achievementPara">Een aanzienlijk groot bos beheren we nu in Hechtel Eksel.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <h2 class="achievementHeader">Mol - <br> 3.63 Ha</h2>
            <img src="../../assets/img/achievement5.jpg" alt="">
            <p class="achievementPara">Het grootste bos dat we in Mol hebben.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="img">
            <h2 class="achievementHeader">Mol Perceel 2 - <br> 0.18 Ha</h2>
            <img src="../../assets/img/achievement6.jpg" alt="">
            <p class="achievementPara">We hebben een tweede, kleiner bos in Mol gekocht.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="containerm">
      <div class="row">
        <div class="col-md-6">
          <div class="img">
            <h2 class="achievementHeader">Mol Elzaat - <br> 0.68 Ha</h2>
            <img src="../../assets/img/achievement7.jpg" alt="">
            <p class="achievementPara">In Mol ELzaat hebben we een bos aangekocht.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img">
            <h2 class="achievementHeader">Beel Bel- <br> 3.63 Ha</h2>
            <img src="../../assets/img/achievement8.jpg" alt="">
            <p class="achievementPara">Aangekocht in Geel Bel.</p>
          </div>
        </div>
      </div>
    </div>

  </div>


  <app-footer></app-footer>



</div>
