
<img class="background-image" src="assets/img/bannerOverig.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature platform</h1>
</div>


<div class="content" >
  <div class="container-fluid py-5 mb-5 blok2Hoe">
    <div class="row ">
      <div class="col-lg-7 my-auto fotoLinksTekstRechts1">
        <div class="d-flex flex-column align-items-center justify-content-center fotoLinks1 rounded h-100 py-5 px-3">
        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle" src="assets/img/singleIconTreeBlue.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Het 4Nature platform bestaat uit 2 delen.
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            Enerzijds heb je 4Nature Nv een verhikel dat instaat voor het verwerven van de bossen.
            Anderzijds heb je 4Nature Beheer dat instaat voor het beheer van de bossen en de financiering hiervan.
          </h4>
          <p class="section-para-rechts1">
            Door de bossen te centraliseren in een fonds, koppelen we het eigendom los van het individu
            en kunnen we garanderen dat deze bossen beschermd en beheerd worden naar de bovenstaande visie.</p>
          <div class="d-flex align-items-center pt-4">
            <a href="" class="btn text-light bedrijfBtn">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="row g-0 blok3Hoe">
    <div class="col-lg-6 my-auto tekstContainerLinks2">
      <div class="tekstKolomLinks1 tekstKolomLinks2 pe-5">
        <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
        <h1 class="mb-4 ms-5 section-title-links1">
          4Nature Fonds
        </h1>
        <h4 class="section-subTitle-links1 mb-3">
          Om deze bossen aan te kopen spreekt het 4Nature fonds investeerders aan.
        </h4>
        <p class="section-para-rechts1 section-para-links1">
          Deze krijgen op hun beurt evenredige activa terug voor de investering.
          In dit geval aandelen van het 4Nature-fonds
          waarvan de waarde 1 op 1 gelinkt is aan de waarde van de gronden in het fonds op dat moment.
          Op die manier hebben de investeerders een significante impact op hun levenskwaliteit.
        </p>
      </div>
    </div>
    <div class="col-lg-6 my-auto fotoRechtsTekstLinks1 foto">
      <div class="d-flex flex-column align-items-center justify-content-center fotoRechts2 rounded h-100 py-5 px-3">
      </div>
    </div>
  </div>

  <div class="row g-0 blok4Hoe">
    <div class="col-lg-6 my-auto fotoLinksTekstRechts1">
      <div class="d-flex flex-column align-items-center justify-content-center fotoLinks2 rounded h-100 py-5 px-3">
      </div>
    </div>
    <div class="col-lg-6 my-auto  tekstContainerRechts2">
      <div class="tekstKolomRechts1 tekstKolomRechts2">
        <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
        <h1 class="mb-4 ms-5 section-title-rechts1">
         4Nature Beheer
        </h1>
        <h4 class="section-subTitle-rechts1 mb-3">
          4Nature Beheer heeft als taak het beheren van de bossen,
          het bewaken van het model en de financiering van dit beheer.
        </h4>
        <p class="section-para-rechts1">
          Voor het beheren van de bossen werken we op huidig ogenblik samen met de Bosgroepen.
          Samen met hen bepalen we het beheerplan op 24 jaar.
          Deze wordt opgedeeld in 4 cycli van 6 jaar waar we doelstellingen in het kader van biodiversiteit,
          co2-captatie, toegankelijkheid, drinkwater, circulaire economie en gezondheid nastreven.
          Jaarlijks wordt er geëvalueerd en beslist welke ingrepen
          er zullen uitgevoerd worden in functie van het desbetreffende perceel.
        </p>
      </div>
    </div>
  </div>

  <div class="blok5Hoe">
    <div class="container-fluid  justify-content-center">
      <h2>Wij kopen onze bossen aan volgens enkele criteria</h2>
      <div class="py-5 justify-content-center iconboxGrid">
        <div class="row g-0 justify-content-center">
          <div class="col-md-4 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg"  src="assets/img/belgiumIconBlue.png">
              <h3>Ligging</h3>
              <p>
                De bossen moeten bij voorkeur in Vlaams België liggen
              </p>
            </div>
          </div>
          <div class="col-md-4 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg" src="assets/img/qualityIconBlue.png">
              <h3>Kwaliteit</h3>
              <p>
                De bossen moeten kwalitatief voldoen aan onz eisen
              </p>
            </div>
          </div>
          <div class="col-md-4 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg" src="assets/img/sizeIconBlue.png">
              <h3>Grootte</h3>
              <p>
                De bosgronden moeten minstens 2 hectare groot zijn
              </p>
            </div>
          </div>
          <div class="col-md-4 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg"  src="assets/img/priceIconBlue.png">
              <h3>Kostprijs</h3>
              <p>
                De kosten mogen in geen geval boven de marktprijs liggen
              </p>
            </div>
          </div>
          <div class="col-md-4 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg" src="assets/img/routeIconBlue.png">
              <h3>Toegangkelijkheid</h3>
              <p>
                De bossen moeten via wandelpaden toegangkelijk zijn
              </p>
            </div>
          </div>
          <div class="col-md-4  iconboxContainer">
            <div class="iconbox ">
              <img class="iconImg" src="assets/img/natureIconBlue.png">
              <h3>Natuur</h3>
              <p>
                De bossen moeten aansluiten aan een groter geheel van natuur
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <app-footer></app-footer>

</div>
