
<img class="background-image" src="assets/img/bannerOverig.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature platform</h1>
</div>


<div class="content" >
  <div class="container-fluid py-5 mb-5 blok2Hoe">
    <div class="row ">
      <div class="col-lg-7 my-auto fotoLinksTekstRechts1">
        <div class="d-flex flex-column align-items-center justify-content-center fotoLinks1 rounded h-100 py-5 px-3">
        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle" src="assets/img/forest-02.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Het 4Nature platform bestaat uit 2 delen.
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            Enerzijds heb je 4Nature Nv een verhikel dat instaat voor het verwerven van de bossen.
            Anderzijds heb je 4Nature Beheer dat instaat voor het beheer van de bossen en de financiering hiervan.
          </h4>
          <p class="section-para-rechts1">
            Door de bossen te centraliseren in een fonds, koppelen we het eigendom los van het individu
            en kunnen we garanderen dat deze bossen beschermd en beheerd worden naar de bovenstaande visie.</p>
          <div class="d-flex align-items-center pt-4">
            <a href="" class="btn text-light bedrijfBtn">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
