
:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}



.content{
  margin-top: 30vw !important;
}


/*blok1*/

.blokBeheerMeeRij{
  margin-top: 6vw;
}



.fotoLinks1 {
  background: url("../../assets/img/ownForest.jpg"), no-repeat center center;
  height: 33vw !important;
}


/*blok3*/


.bg-service {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("../../assets/img/forestHeaderBeheer.jpg"), no-repeat center center;
  background-size: cover;
  padding-top: 5vw !important;
  padding-bottom: 4vw !important;
}

.overOnsText{
  font-size: 1vw;
}
.block1BeheerMee{
  padding: 7vw 5vw 7vw 5vw !important;
}
.blok3beheer{
  width: 100%;
  text-align: left;
}


/*blok4*/

.treeImageTitle3{
  width: 2.2vw !important;
  margin-bottom: -3.2vw !important;
}

.fotoRechts1{
  background: url("../../assets/img/maintenance.jpg"), no-repeat center center;
  height: 30vw !important;
}




@media screen and (max-width: 1100px){
  .content{
    margin-top: 80vw !important;
  }

  /*vlak onder landing*/

  .fotoLinks1{
    height: 36vw !important;
  }

  /*derde blok*/

  .fotoRechts1{
    height: 38vw !important;
  }

  .treeImageTitle3{
    width: 3.2vw !important;
    margin-top: 3.2vw !important;
  }
}


@media screen and (max-width: 991px){
  /*vlak onder landing*/
  .fotoLinks1{
    height: 60vw !important;
  }

  /*derde blok*/
  .fotoRechts1{
    height: 58vw !important;
    margin-top: 3vw;
  }
}

@media screen and (max-width: 600px) {
  .content{
    margin-top: 130vw !important;
  }

  /*derde blok*/

  .treeImageTitle3{
    width: 7vw !important;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 330px){
  .treeImageTitle{
    margin-top: 1vw !important;
  }
}
