
<img class="background-image" src="assets/img/forestHeader.jpg">


<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature</h1>
  <h4 class="text-light">Beheer mee</h4>

</div>

<main class="content">




  <div class="container-fluid py-5 mb-5 block1BeheerMee">
    <div class="row ">
      <div class="col-lg-7 my-auto fotoLinksTekstRechts1">
        <div class="d-flex flex-column align-items-center justify-content-center fotoLinks1 rounded h-100 py-5 px-3">
        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle" src="assets/img/forest-02.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Transparant en zichtbaar financiële bijdrage.
          </h1>
          <p class="section-para-rechts1"> Samen met Bosgroepen bepalen we in onderlinge consensus het beheerplan op 24 jaar.</p>

        </div>
      </div>
    </div>
  </div>


  <div class="blok3beheer">
    <div class="container-fluid bg-service py-5 justify-content-center">
      <div class="container py-5 justify-content-center">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-8 justify-content-center">
            <p class="text-white overOnsText">
              Deze wordt opgedeeld in 4 cycli van 6 jaar waar we doelstellingen in het kader van biodiversiteit, co2-captatie, toegankelijkheid, drinkwater, circulaire economie en gezondheid nastreven.
              Jaarlijks wordt er geëvalueerd en beslist welke ingrepen er zullen uitgevoerd worden in functie van het desbetreffende perceel.</p>
            <div class="d-flex align-items-center pt-4">
<!--              <a href="" class="btn text-light bedrijfBtn">Meer weten</a>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<footer></footer>
