.content{
  margin-top: -10vw;
}

.uitlegContainer{
  padding-top: 10vw;
}

.bijgewerktPara{
  font-style: italic;
}

.puntHeaderContainer{
  padding-top: 3vw;
}

.table{
  margin: 3vw 0 3vw 0;
}


.contactGegevens{
  padding: 1vw 0 1vw 0 !important;
}
