<img class="background-image" src="assets/img/bannerPartner.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png" data-aos="zoom-in">
  <h1 class="text-light mb-3" data-aos="zoom-in">Partners</h1>
</div>



<main class="content">


  <div class="block1Overons">
    <div class="row g-0 rowContainer">
      <div class="col-lg-12 col-xl-6 my-auto tekstContainerLinks1Partner">
        <div class="tekstKolomLinksCards pe-5">

          <div class="row contactRow" data-aos="fade-up"
               data-aos-duration="1500">

            <div class="col-sm-6">

              <div class="card text-center partnerCard">
                <img class="card-img-top profielFoto" src="assets/img/kevin.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title naamHeaderKaart">Kevin Vleminx</h4>
                  <p class="telefoonNummer">
                    0494 90 36 50
                  </p>
                  <p class="telefoonNummer">
                    kevin@4nature.be
                  </p>
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col">
                      <a class="linkKnop" href="mailto:kevin@4nature.be"><i class="fas fa-envelope"></i></a>
                    </div>
                    <div class="col">
                      <a class="linkKnop"  href="tel:+32494903650"><i class="fas fa-phone"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-sm-6">

              <div class="card text-center partnerCard">
                <img class="card-img-top profielFoto" src="assets/img/jeroen.jpg" alt="Card image cap">
                <div class="card-body">
                  <h4 class="card-title naamHeaderKaart">Jeroen De Muynck</h4>
                  <p class="telefoonNummer">
                    0472 32 01 55
                  </p>
                  <p class="telefoonNummer">
                    Jeroen@4nature.be
                  </p>
                </div>
                <div class="card-footer text-muted">
                  <div class="row">
                    <div class="col">
                      <a class="linkKnop" href="mailto:Jeroen@4nature.be"><i class="fas fa-envelope"></i></a>
                    </div>
                    <div class="col">
                      <a class="linkKnop" href="tel:+32472320155"><i class="fas fa-phone"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
      <div class="col-lg-12 col-xl-6 my-auto  tekstContainerRechts1Partner ">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Partners
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            Wij, Jeroen de Muynck en Kevin Vleminx zijn jullie aanspreekpunt voor het partnership.
          </h4>
          <p class="section-para-rechts1">
            Wij zijn tevens de initiatiefnemers en uitvoerders van de 4Nature-visie.
            Uiteraard worden wij ondersteund door een team van investeerders en professionals,
            maar de koppeling tussen de Belgische bossen en de Belgische KMO is onze kerntaak.
            <br>
            <br>
            Zullen we samen bekijken wat we voor elkaar kunnen betekenen?
          </p>

          <div class="d-flex align-items-center pt-4 buttonContainer" data-aos="fade-up"
               data-aos-duration="1000">
            <a class="btn text-light bedrijfBtn" routerLink="/beheer-mee">Word een partner</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blok2Realisaties">
    <h2 class="voordelenHeader">Onze partners</h2>

    <div class="containerm justify-content-center d-flex">
      <div class="row g-0 justify-content-center d-flex boxContainer" data-aos="fade-up"
           data-aos-duration="1500">
        <div class="col-md-6 col-sm-12 justify-content-center d-flex imgContainer" >
          <div class="img">
            <img class="logo" src="assets/img/beer4natureLogo.png">
            <h2 class="achievementHeader">Beer4Nature</h2>
            <img class="backgroundImg" src="assets/img/partner1.jpg" alt="">
            <p class="achievementPara">"Natuur is onze passie en
              daarom hebben we ook ons project opgezet met beer4nature,
              we zijn trots dat we aan dit prachtige project deelnemen" <br> <br> - Kevin Vleminx van
              <a class="link2" href="https://beer4nature.be/" target="_blank">Beer4Nature</a>
            </p>
          </div>
        </div>

        <div class="col-md-6 col-sm-12 justify-content-center d-flex imgContainer">
          <div class="img">
            <img class="logo" src="assets/img/2-valorise.png">
            <h2 class="achievementHeader">2Valorise</h2>
            <img class="backgroundImg" src="assets/img/2valorisePartner.png" alt="">
            <p class="achievementPara">"Vanuit ons circulair denken focussen we op een maximale valorisatie
              van end-of-life rest- en afvalstromen door deze nuttig aan te wenden en via lokale,
              industriële projecten te transformeren in energie, grondstoffen en materialen.
              We denken dat dit project een uitmundende kans is om nog meer ons steentje bij te dragen" <br> <br>
              - Filip Lesaffer van <a class="link2" href="https://www.2valorise.be/" target="_blank">2Valorise</a>
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
<app-footer></app-footer>
</main>
