
<nav class="navigatie navbar navbar-expand-lg navbar-dark justify-content-between ">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navList navbar-nav nav-fill w-100" >
      <li class=" nav-item logo-nav">
        <a class="navbar-brand nav-link" routerLink="" ><img class="logoWit" src="assets/img/rsz_11rsz_logowit.png"/></a>
      </li>
      <li class="nav-item  home-nav">
        <a class="nav-link navText" routerLink=""> Home </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link navText" routerLink="beheer-mee"> Beheer mee </a>
      </li>

      <li class="nav-item ">
        <a class="nav-link navText" routerLink="hoe"> Hoe? </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link navText" routerLink="bedrijven"> Bedrijven </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link navText" routerLink="newsfeed"> Realisaties en nieuws </a>
      </li>
      <li class="nav-item  ">
        <a class="nav-link navText" routerLink="partners"> Partners </a>
      </li>
      <li class="nav-item ">
        <a class="nav-link navText" routerLink="over-ons"> Over Ons </a>
      </li>
      <li class="nav-item contact-nav ">
        <a class="nav-link navText" routerLink="contact"> Contact </a>
      </li>
    </ul>
  </div>
</nav>



<router-outlet></router-outlet>
