:root{
  --primaryGreen: #22502A;
  --primaryBlue: #255048;
  --background: #EBEBE0;
  --primaryGrey: #768B7A;
  --accent: #929D15;
  --secondaryFont: #FFFFFF;
  --paragraph: 20px;
  --header2: 50px;
}

@media screen and (max-width: 1100px) {
  .navText{
    font-size: 1.5vw !important;
  }

  .logoWit{
    width: 6.5vw;
  }
}






