<img class="background-image" src="assets/img/privacyBanner.jpg">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">Wat zijn cookies?</h1>
</div>

<div class="content">

  <div class="uitlegContainer">
    <p class="bijgewerktPara">Deze cookieverklaring is voor het laatst bijgewerkt op 1 september 2021
      en is van toepassing op inwoners van de Europese Economische Ruimte.</p>
    <div class="puntHeaderContainer">
      <h2>1. Intoductie</h2>
      <p>
        Onze website maakt gebruik van cookies en andere gerelateerde technologieën
        (gemakshalve worden alle technologieën “cookies” genoemd).
        Cookies worden ook geplaatst door derden die we hebben ingeschakeld.
        In het onderstaande document informeren we u over het gebruik van cookies op onze website.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>2. Wat zijn cookies?</h2>
      <p>
        Een cookie is een eenvoudig klein bestandje dat met pagina’s van deze website wordt meegestuurd
        en door uw browser op uw harde schrijf van uw computer of ander apparaat wordt opgeslagen.
        De daarin opgeslagen informatie kan bij een volgend bezoek
        weer naar onze servers of die van de betreffende derde partijen teruggestuurd worden.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>3. Wat zijn scripts?</h2>
      <p>
        Een script is een stukje programmacode dat wordt gebruikt om onze website goed te laten functioneren
        en interactief te maken. Deze code wordt uitgevoerd op onze server, of op uw apparatuur.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>4. Wat is een web beacon?</h2>
      <p>
        Een webbeacon (ook pixeltag) is een klein,
        onzichtbaar stukje tekst of afbeelding op een website dat gebruikt wordt om verkeer
        op een website in kaart te brengen.
        Om dit te doen worden er met behulp van webbeacons verschillende gegevens van u opgeslagen.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>5. Toestemming</h2>
      <p>
        Wanneer u onze website voor het eerst bezoekt, tonen wij een pop-up met uitleg over cookies.
        Zodra u klikt op ‘Alle cookies’ geeft u ons toestemming om alle cookies en plugins te gebruiken
        zoals omschreven in de pop-up en deze cookieverklaring.
        U kunt via uw browser het plaatsen van cookies uitschakelen,
        u moet er dan wel rekening mee houden dat onze website dan mogelijk niet meer optimaal werkt.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>6. Cookies</h2>
      <p>
        <b> 6.1 Technische of functionele cookies</b>
        <br/>
        Sommige cookies zorgen ervoor dat bepaalde onderdelen van de website goed werken
        en dat uw gebruikersvoorkeuren bekend blijven.
        Door het plaatsen van functionele cookies zorgen wij ervoor dat u onze website makkelijker kunt bezoeken.
        Op deze manier hoeft u bijvoorbeeld niet steeds opnieuw dezelfde informatie
        in te voeren bij een bezoek aan onze website
        en is het onder andere mogelijk dat de artikelen in uw winkelmandje bewaard blijven tot dat u heeft afgerekend.
        Deze cookies mogen wij plaatsen zonder dat u hier toestemming voor geeft.
      </p>
      <p>
        <b> 6.2 Analytische cookies</b>
        <br/>
        Analytische cookies gebruiken wij om onze website zo goed mogelijk te laten aansluiten
        bij de wensen van onze bezoekers.
        Wij krijgen door middel van analytische cookies inzicht in het gebruik van onze website.
        Voor het plaatsen van analytische cookies vragen wij uw toestemming.
        We vragen je toestemming voor het plaatsen van statistieken cookies.
      </p>
      <p>
        <b> 6.3 Marketing cookies</b>
        <br/>
        Op deze website gebruiken wij geen advertentiecookies.
      </p>
      <p>
        <b> 6.4 Social media knoppen</b>
        <br/>
        Op onze website zijn buttons opgenomen van Facebook, Twitter en Instagram om webpagina’s te kunnen promoten
        (o.a. “liken”, “pinnen”) of delen (o.a. “tweeten”)
        op sociale netwerken zoals Facebook, Twitter en Instagram.
        Deze buttons werken door middel van stukjes code die van Facebook, Twitter en instagram zelf afkomstig zijn.
        Door middel van deze code worden cookies geplaatst.
        De social media buttons kunnen ook bepaalde gegevens opslaan en verwerken,
        zodat er aan u gepersonaliseerde advertenties getoond kunnen worden.
        <br/>
        <br/>
        Lees de privacyverklaring van deze sociale netwerken
        (die regelmatig kunnen veranderen) om te lezen wat deze doen met uw (persoonlijke) gegevens die,
        zij verwerken met behulp van deze cookies.
        De gegevens die worden opgehaald,
        worden zoveel mogelijk geanonimiseerd. Facebook, Twitter en Instagram zijn gevestigd in de Verenigde Staten.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>7. Geplaatste cookies</h2>
      <b> Google analytics</b>
      <p>
        We gebruiken Google Analytics voor website statistieken.
      </p>

      <table class="table">
        <thead>
        <tr>
          <td>Naam</td>
          <td >Retentie</td>
          <td >Functie</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Statistieken (anoniem)</th>
        </tr>
        <tr>
          <td>_ga</td>
          <td>2 jaren</td>
          <td>Opslaan van een unieke gebruikers ID</td>
        </tr>
        <tr>
          <td>_gid</td>
          <td>1 dag</td>
          <td>Bijhouden en verzamelen van paginaweergaven</td>
        </tr>
        <tr>
          <td>_gat</td>
          <td>1 minuut</td>
          <td>Filter requests van bots</td>
        </tr>
        </tbody>
      </table>

      <p>
        <b>Delen</b>
        <br/>
        Voor meer informatie, lees de
        <a class="googleLink" href="https://policies.google.com/privacy"> Google Analytics Privacyverklaring.</a>
      </p>

      <b>Facebook</b>
      <p>We gebruiken Facebook voor het vertonen van recente posts en/of social share buttons.</p>

      <table class="table">
        <thead>
        <tr>
          <td>Naam</td>
          <td >Retentie</td>
          <td >Functie</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Marketing/Tracking</th>
        </tr>
        <tr>
          <td>_fbp</td>
          <td>3 maanden</td>
          <td>Volgen van bezoeken over verschillende websites</td>
        </tr>
        <tr>
          <td>actppresence</td>
          <td>1 jaar</td>
          <td>Regelen van frequentie van weergegeven advertenties</td>
        </tr>
        <tr>
          <td>_fbm</td>
          <td>1 jaar</td>
          <td>Opslaan van account details</td>
        </tr>
        <tr>
          <td>_fbc</td>
          <td>2 jaren</td>
          <td>Stores last visit</td>
        </tr>
        <tr>
          <td>fbm_*</td>
          <td>1 jaar</td>
          <td>Opslaan van account details</td>
        </tr>
        <tr>
          <td>xs</td>
          <td>3 maanden</td>
          <td>Oplsaan van een unieke session ID</td>
        </tr>
        <tr>
          <td>fr</td>
          <td>3 maanden</td>
          <td>levering van Ads</td>
        </tr>
        <tr>
          <td>datr</td>
          <td>2 jaren</td>
          <td>Voorkomen van fraude</td>
        </tr>
        <tr>
          <td>sb</td>
          <td>2 jaren</td>
          <td>Opslaan van browserspecificaties</td>
        </tr>
        <tr>
          <td>*_fbm_</td>
          <td>1 jaar</td>
          <td>Opslaan van account details</td>
        </tr>
        <tr>
          <th scope="row">Functioneel</th>
        </tr>
        <tr>
          <td>wd</td>
          <td>1 week</td>
          <td>Bepalen van schermresolutie</td>
        </tr>
        <tr>
          <td>act</td>
          <td>90 dagen</td>
          <td>Ingelogd houden van gebruikers</td>
        </tr>
        <tr>
          <td>c_user</td>
          <td>90 dagen</td>
          <td>Opslaan van een unieke gebruikers ID</td>
        </tr>
        <tr>
          <td>csm</td>
          <td>90 dagen</td>
          <td>Voorkomen van fraude</td>
        </tr>
        <tr>
          <td>presence</td>
          <td>sessie</td>
          <td>Traceert of dat de browser tab acief is</td>
        </tr>
        </tbody>
      </table>

      <p>
        <b>Delen</b>
        <br/>
        Voor meer informatie, lees de
        <a class="googleLink" href="https://policies.google.com/privacy"> Google Analytics Privacyverklaring.</a>
      </p>

      <b>Google fonts</b>
      <p>We gebruiken Google Fonts voor het vertonen van web-lettertypen.</p>

      <table class="table">
        <thead>
        <tr>
          <td>Naam</td>
          <td >Retentie</td>
          <td >Functie</td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">Marketing/Tracking</th>
        </tr>
        <tr>
          <td>Google Fonts API</td>
          <td>geen</td>
          <td>Vraagt het IP adres van de gebruiker op</td>
        </tr>
        </tbody>
      </table>

      <p>
        <b>Delen</b>
        <br/>
        Voor meer informatie, lees de
        <a class="googleLink" href="https://policies.google.com/privacy"> Google Fonts Privacyverklaring.</a>
      </p>

    </div>

    <div class="puntHeaderContainer">
      <h2>8. Uw rechten met betrekking tot persoonsgegevens</h2>
      <p>
        U heeft de volgende rechten met betrekking tot uw persoonsgegevens:
      </p>
      <ul>
        <li>
          U hebt het recht om te weten waarom uw persoonsgegevens nodig zijn,
          wat ermee gebeurt en hoe lang deze worden bewaard.
        </li>
        <li>
          Recht op inzage: u kunt een verzoek indienen om inzage in de gegevens die we van u verwerken.
        </li>
        <li>
          Recht op rectificatie en aanvulling: u hebt het recht om uw persoonlijke gegevens aan te vullen,
          te corrigeren, te verwijderen of te blokkeren wanneer u maar wilt.
        </li>
        <li>
          Als u ons toestemming geeft om uw gegevens te verwerken,
          heeft u het recht om die toestemming in te trekken en uw persoonlijke gegevens te laten verwijderen.
        </li>
        <li>
          Recht op dataportabiliteit:
          u hebt het recht om al uw persoonlijke gegevens op te vragen bij de Verwerkingsverantwoordelijke
          en deze in zijn geheel over te dragen aan een andere Verwerkingsverantwoordelijke.
        </li>
        <li>
          Recht op bezwaar: u kunt bezwaar maken tegen de verwerking van uw gegevens.
          Wij komen hieraan tegemoet, tenzij er gegronde redenen voor verwerking zijn.
        </li>
      </ul>
      <p>
        Neem contact met ons op als u deze rechten wilt uitoefenen.
        Raadpleeg de contactgegevens onderaan deze cookieverklaring.
        Als u een klacht heeft over hoe wij omgaan met uw gegevens,
        dan horen wij graag van u,
        maar u heeft ook het recht om een klacht in te dienen bij de toezichthoudende autoriteit
        (de Autoriteit Persoonsgegevens).
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>9. In -en uitschakelen en verwijdering van cookies</h2>
      <p>
        Via uw internetbrowser kunt u cookies automatisch of handmatig verwijderen.
        U kunt ook aangeven dat bepaalde cookies niet geplaatst mogen worden.
        Een andere mogelijkheid is dat u uw internetbrowser
        zodanig instelt dat u een bericht ontvangt als er een cookie wordt geplaatst.
        Meer informatie over deze mogelijkheden kunt u vinden in de instructies van de Help-functie van uw browser.
      </p>
      <p>
        Let op: onze website werkt mogelijk niet optimaal als alle cookies zijn uitgeschakeld.
        Als u wel de cookies in uw browser verwijdert,
        worden ze na uw toestemming opnieuw geplaatst bij een nieuw bezoek aan onze websites.
      </p>
    </div>

    <div class="puntHeaderContainer">
      <h2>10. Contact details</h2>
      <p>
        Voor vragen en/of opmerkingen over ons cookiebeleid en deze verklaring kunt u contact met ons opnemen via:
      </p>
      <div class="contactGegevens">
        <p>4Nature</p>
        <p>Sint-Paulusstraat 53</p>
        <p>2400 Mol</p>
        <p>België</p>
        <p>kevin@4nature.be</p>
      </div>
      <p>
        Dit cookiebeleid is gesynchroniseerd
        <a class="googleLink" href="https://cookiedatabase.org/">met cookiedatabase.org</a>
        op 1 september 2021
      </p>
    </div>




  </div>

  <app-footer></app-footer>

</div>
