<video class="background-video" [muted]="true" autoplay loop muted poster="assets/img/bedrijvenPlaceholder.png">
  <source src="assets/video/bussinessVideo.mp4" type="video/mp4">
</video>

<img class="background-image" src="assets/img/bedrijvenLandingMobiel.png">

<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature bedrijven</h1>
  <h4 class="text-light">Let forests grow</h4>
  <a class="btn text-light m-4 beheerBtn" routerLink="/beheer-mee" role="button">Beheer mee</a>
</div>


<div class="content">

  <div class="container-fluid py-5 mb-5 blok1Bedrijf">
    <div class="row blok1BedrijfRow">
      <div class="col-lg-7 my-auto fotoLinksTekstRechts1">
        <div class="d-flex flex-column align-items-center justify-content-center fotoLinks1 rounded h-100 py-5 px-3">
        </div>
      </div>
      <div class="col-lg-5 my-auto  tekstContainerRechts1">
        <div class="tekstKolomRechts1">
          <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
          <h1 class="mb-4 ms-5 section-title-rechts1">
            Onze vizie
          </h1>
          <h4 class="section-subTitle-rechts1 mb-3">
            De visie van 4Nature is het waarborgen en verhogen van de levenskwaliteit in België
          </h4>
          <p class="section-para-rechts1">
            We doen dit door kwaliteitsvolle natuur te creëren,
            uit te breiden en te beschermen via een duurzaam model waarbij alle stakeholders gebaat zijn.

          </p>
          <div class="d-flex align-items-center pt-4">
            <a class="btn text-light bedrijfBtn bedrijfBtn2" routerLink="/beheer-mee">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid bg-bos py-5 justify-content-center blok2Bedrijf">
    <div class="container py-5 justify-content-center">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-12 justify-content-center bosTextContainer">
          <h1 class="mb-4 bosHeader  text-white">
            Investeerders staan centraal
          </h1>
          <p class="text-white bosText">
            Om deze bossen aan te kopen spreekt het 4Nature fonds investeerders aan.
            Deze krijgen op hun beurt evenredige activa terug voor de investering.
            Op die manier hebben de investeerders een significante impact op hun levenskwaliteit
            en die van de volgende generatie(s)
            en kunnen ze zelfs een meerwaarde genereren indien de waarde van de gronden positief evolueert.
          </p>
          <div class="d-flex align-items-center pt-4">
            <a class="btn text-light bedrijfBtn" routerLink="/beheer-mee">Beheer mee</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blok3Bedrijf">
    <div class="container-fluid  justify-content-center">
      <h2 class="voordelenHeader">De voordelen op een rijtje</h2>
      <div class="py-5 justify-content-center iconboxGrid">
        <div class="row g-0 justify-content-center">
          <div class="col-md-3 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg"  src="assets/img/transactionIconBlue.png">
              <h3>Aankoop</h3>
              <p>
                De financiële middelen van investeerders
                worden %100 aangewend om bossen te kopen.
              </p>
            </div>
          </div>
          <div class="col-md-3 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg" src="assets/img/qualityIconBlue.png">
              <h3>
                Schaalvoordeel
              </h3>
              <p>
                De bossen worden kwalitatief beter gemaakt zonder dat het u iets kost, energie noch geld.
              </p>
            </div>
          </div>
          <div class="col-md-3 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg" src="assets/img/demandIconBlue.png">
              <h3>
                Schaarste
              </h3>
              <p>
                Bossen in België worden schaars
                en we verwachten op termijn een stijgende marktprijs.
              </p>
            </div>
          </div>
          <div class="col-md-3 iconboxContainer">
            <div class="iconbox">
              <img class="iconImg"  src="assets/img/safetyIconBlue.png">
              <h3>
                Veilig
              </h3>
              <p>
                De spreiding van het risico door het aankopen van verschillende bossen, in verschillende regio’s.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>


  <div class="row g-0 blok4Bedrijf">
    <div class="col-lg-6 my-auto tekstContainerLinks2">
      <div class="tekstKolomLinks1 tekstKolomLinks2 pe-5">
        <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
        <h1 class="mb-4 ms-5 section-title-links1">
          Kies zelf het stuk bos
        </h1>
        <h4 class="section-subTitle-links1 mb-3">
          Je kiest zelf in welk bos welk oppervlakte je door ons wil laten beheren.
        </h4>
        <p class="section-para-rechts1 section-para-links1">
          Op die manier blijft de link tussen de financiële bijdrage
          en de gerealiseerde impact heel transparant en zichtbaar.
        </p>
        <div class="d-flex align-items-center pt-4">
          <a class="btn text-light bedrijfBtn bedrijfBtn2" routerLink="/beheer-mee">Beheer mee</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 my-auto fotoRechtsTekstLinks1 fotoRechtsTekstLinks2 foto">
      <div class="d-flex flex-column align-items-center justify-content-center fotoRechts2 rounded h-100 py-5 px-3">
      </div>
    </div>
  </div>

  <div class="row g-0 blok5Bedrijf">
    <div class="col-lg-6 my-auto fotoLinksTekstRechts1 fotoLinksTekstRechts2">
      <div class="d-flex flex-column align-items-center justify-content-center fotoLinks2 rounded h-100 py-5 px-3">
      </div>
    </div>
    <div class="col-lg-6 my-auto  tekstContainerRechts2">
      <div class="tekstKolomRechts1 tekstKolomRechts2">
        <img class="treeImageTitle treeImageTitle2" src="assets/img/singleIconTreeBlue.png">
        <h1 class="mb-4 ms-5 section-title-rechts1">
          Zichtbaar engagement
        </h1>
        <h4 class="section-subTitle-rechts1 mb-3">
          Als bedrijf wil je natuurlijk dat jouw engagement niet onder de radar blijft en dat moet ook niet.
        </h4>
        <p class="section-para-rechts1">
          Als je je inzet voor de natuur, dan is dat iets om over te praten zodat je hopelijk ook andere inspireert.
          Vanaf een bepaald engagement bekijken we samen met jou hoe
          we die communicatie kunnen optimaliseren voor maximale impact.
          Denk aan website, nieuwsbrieven, persberichten, visibiliteit op events, … Uiteraard steeds in samenspraak.
        </p>
        <div class="d-flex align-items-center pt-4">
          <a class="btn text-light bedrijfBtn bedrijfBtn2" routerLink="/beheer-mee">Beheer mee</a>
        </div>
      </div>
    </div>
  </div>


  <div class="blok6Bedrijf">
    <section class="pricing py-5">
      <div class="" >
        <h2 class="tarievenHeader">De tarieven</h2>
        <div class="row g-0">

          <div class="col-lg-4 d-flex justify-content-center">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Berk</h5>
                <h6 class="card-price text-center">€75<span class="period">/maand</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Bedrijfslogo op deze website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Vermelding als partner op deze website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Uitnodiging op de community events</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>co2-compensatie (Visuals)</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Gepersonaliseerde content</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Op maat gemaakte evenement
                  </li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Extra zichtbaarheid op al onze events</li>
                </ul>
<!--                <div class="d-grid">-->
<!--                  <a href="#" class="btn btn-primary text-uppercase">Button</a>-->
<!--                </div>-->
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex justify-content-center">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Beuk</h5>
                <h6 class="card-price text-center">€225<span class="period">/maand</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Bedrijfslogo op deze website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Vermelding als partner op deze website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Uitnodiging op de community events</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>co2-compensatie (Visuals)</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Gepersonaliseerde content</li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Op maat gemaakte evenement
                  </li>
                  <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Extra zichtbaarheid op al onze events</li>
                </ul>
<!--                <div class="d-grid">-->
<!--                  <a href="#" class="btn btn-primary text-uppercase">Button</a>-->
<!--                </div>-->
              </div>
            </div>
          </div>

          <div class="col-lg-4 d-flex justify-content-center">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-muted text-uppercase text-center">Eik</h5>
                <h6 class="card-price text-center">€450<span class="period">/maand</span></h6>
                <hr>
                <ul class="fa-ul">
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Bedrijfslogo op deze website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Vermelding als partner op deze website</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Uitnodiging op de community events</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>co2-compensatie (Visuals)</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Gepersonaliseerde content</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Op maat gemaakte evenement</li>
                  <li><span class="fa-li"><i class="fas fa-check"></i></span>Extra zichtbaarheid op al onze events</li>
                </ul>
<!--                <div class="d-grid">-->
<!--                  <a href="#" class="btn btn-primary text-uppercase">Button</a>-->
<!--                </div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<app-footer></app-footer>

</div>
