
.background-image{
  display: none;
}

/*blok1*/

.blok1BedrijfRow{
  margin-top: 6vw;
}

.fotoLinks1{
  background: url("../../assets/img/bussinessWoman.jpg"), no-repeat center center;
  height: 32vw !important;
}



/*blok2*/




.bg-bos {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../../assets/img/forestBannerOffice.jpg"), no-repeat center center;
  background-size: cover;
  display:block;
}



/*blok3*/

.blok3Bedrijf{
  margin-top: 10vw;
}

.blok3Bedrijf > div {
  text-align: center;
}

.blok3Bedrijf > div > h2{
  margin-bottom: 2vw;
}

/*.iconboxGrid{*/
/*  padding: 2vw 8vw 0 8vw;*/
/*}*/

/*.iconbox{*/
/*  text-align: center;*/
/*  width: 100%;*/
/*  padding: 1vw 2vw 1vw 2vw;*/
/*  !*background-clip: content-box;*!*/
/*  !*background-color: #F6FFF4;*!*/
/*  !*border-radius: 40%;*!*/
/*}*/

/*.iconImg{*/
/*  width: 5vw;*/
/*  height: 5vw;*/
/*  margin-top: 1vw;*/
/*}*/

/*.iconbox > h3{*/
/*  font-size: 1.6vw;*/
/*  margin-top: 0.5vw;*/
/*  color: var(--primaryBlue) !important;*/
/*}*/

/*.iconbox > p{*/
/*  font-size: 1vw;*/
/*  margin-top: 0.5vw;*/
/*  font-weight: 500;*/
/*  color: var(--primaryBlue) !important;*/
/*}*/

/*.iconbox:hover{*/
/*  transform: scale(0.95);*/
/*  transition: 300ms;*/
/*}*/


/*blok3 en 4*/
.blok4Bedrijf{
  margin-top: 8vw;
  background-color: #E8FFE3;
}

.blok5Bedrijf{
  background-color: #E8FFE3;
}

.fotoRechts2{
  background: url("../../assets/img/workForest.jpg"), no-repeat center center;
  height: 33vw !important;
}

.fotoLinks2{
  background: url("../../assets/img/modern-office.jpg"), no-repeat center center;
  height: 33vw !important;
}



/*blok4*/

section.pricing {
  margin-top: 6vw;
  text-align: center;
}

section.pricing > div  {
text-align: center;
}

section.pricing > div > h2{
  margin-bottom: 4vw !important;
}

.pricing .card {
  border: none;
  border-radius: 1rem;
  transition: all 0.2s;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background-color: #E8FFE3;
  margin: 0 2vw 0 2vw;
  min-height: 25vw;
}

.pricing hr {
  margin: 1.5rem 0;
}

.pricing .card-title {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  letter-spacing: .1rem;
  font-weight: bold;
}

.pricing .card-price {
  font-size: 3rem;
  margin: 0;
}

.pricing .card-price .period {
  font-size: 0.8rem;
}

.pricing ul li {
  margin-bottom: 1rem;
}

.pricing .text-muted {
  opacity: 0.7;
}

.pricing .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  opacity: 0.7;
  transition: all 0.2s;
}


@media screen and (max-width: 1100px){

  /*eerste blok*/

  .treeImageTitle4{
    margin-top: 4vw !important;
  }

  /*iconenrij*/


  .blok3Bedrijf > div > h2{
    font-size: 3vw;
  }


  /*groene sectie*/


  .blok4Bedrijf{
    padding-top: 10vw;
  }

  .fotoRechtsTekstLinks2{
    padding-right: 5vw;
  }

  .blok5Bedrijf{
    padding-top: 5vw;
    padding-bottom: 5vw;
  }

  .fotoLinksTekstRechts2{
    padding-left: 5vw;
  }


  /*prijzenkaartjes*/


  .tarievenHeader{
    font-size: 3vw;
   padding-bottom: 3vw !important;
  }

}

/* Hover Effects on Card */

@media (min-width: 992px) {

  .pricing .card:hover {
    margin-top: -.25rem;
    margin-bottom: .25rem;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
  }

  .pricing .card:hover .btn {
    opacity: 1;
  }

}


@media screen and (max-width: 991px){
  /*vlak onder video landing*/
  .fotoLinks1{
    height: 60vw!important;
  }


  /*groene sectie*/

  .fotoRechtsTekstLinks2, .fotoLinksTekstRechts2{
    padding: 7vw;
  }

  .fotoRechts2{
    height: 65vw !important;
  }

  .blok5Bedrijf{
    padding-bottom: 12vw;
  }

  .fotoLinks2{
    height: 60vw !important;
  }

}


@media screen and (max-width: 600px){
  .background-video{
    display: none;
  }

  .background-image{
    display: initial;
  }

  .content{
    margin-top: 120vw
  }


  /*eerste blok*/


  .bedrijfBtn2{
    margin-bottom: 20vw;
    margin-top: 10vw;
  }

  /*groene sectie*/

  .treeImageTitle{
    margin-top: 6vw !important;
  }

  /*overig*/
  .treeImageTitle3{
    margin-top: 0!important;
  }

  /*prijzenkaartjes*/

  .blok6Bedrijf{
    padding: 0 6vw 0 6vw;
  }

  .tarievenHeader{
    padding-bottom: 10vw !important;
  }
}


@media screen and (max-width: 330px) {
  .iconbox > p {
    font-size: 5.5vw;
  }

  /*overig*/
  .treeImageTitle3{
    margin-top: 8vw!important;
  }

  .treeImageTitle4{
    margin-top: 1vw!important;
  }

  /*prijskaarten*/


  .blok6Bedrijf{
    padding: 0 4vw 0 4vw;
  }

  .tarievenHeader{
    padding-bottom: 25vw !important;
    padding-top: 10vw;
  }
}
