
<video id="background-video" autoplay loop muted poster="../../assets/img/forestPlaceholderHome.png">
  <source src="../../assets/video/forestLanding.mp4" type="video/mp4">
</video>


<div class="heading">
  <img class="logo-header" src="assets/img/logoWIT.png">
  <h1 class="text-light mb-3">4Nature</h1>
  <h4 class="text-light">Let forests grow</h4>
  <a class="btn text-light m-4 beheerBtn" role="button">Beheer mee</a>
  <a href="" class="btn text-light m-4 bedrijfBtn"  role="button">Ben je een bedrijf?</a>
</div>


<main class="content">
  <div class="blok1Home">
    <div class="con_01">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="iconbox">
              <div class="icon">
                <i class="fa-solid fa-earth-europe" aria-hidden="true"></i>
              </div>
              <h3>C02-Captatie</h3>
              <p>Voor elke euro vang je maar liefst <b>4 kilogram</b> Co2 op</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="iconbox">
              <div class="icon">
                <i class="fa-solid fa-water"></i>
              </div>
              <h3>Grondwater</h3>
              <p>Elke boom die geplant wordt zal het <b>grondwatervooraad</b> aansterken</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="iconbox">
              <div class="icon">
                <i class="fa fa-desktop" aria-hidden="true"></i>
              </div>
              <h3>Bescherming bossen</h3>
              <p>Door mee te investeren, zal 4Nature de bescherming van <b>inheemse soorten</b> garanderen </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




</main>

